$dark-purple: #560090;
$purple: #d494ff;
$purple2: #c46bff;
$white-color: #fff;
$black-color: #140021;
$gray-color: rgb(85, 85, 85);
$shadow: rgba(0,0,0,.72);

// gradients

$purple-gradient:linear-gradient(0deg, rgba(86,0,144,1) 0%, rgba(153,0,255,1) 100%);